# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Environment variables
.env.local

#Ignore .env files, but not .env.example
.env 
.vercel


















# -------------------------
# Python / ML
# -------------------------

ml_env/
__pycache__/
*.pyc

# Model weights
*.pt
*.bin
*.safetensors

# HuggingFace model folders
bart_xsum_model/
summary_model.pt
summary_model_xsum.pt

# HF cache (optional)
.cache/
